<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>疫情管理员登录</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="static/css/me.css">

  <script type="text/javascript" src="js/common/jquery-1.11.3.min.js"></script>


</head>
<body>

<br>
<br>
<br>
 <div class="m-container-small m-padded-tb-massive" style="max-width: 30em !important;">
   <div class="ur container">
     <div class="ui middle aligned center aligned grid">
       <div class="column">
         <h2 class="ui teal image header">
           <div class="content">
             管理后台登录
           </div>
         </h2>
         <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
           <div class="ui  segment">
             <div class="field">
               <div class="ui left icon input">
                 <i class="user icon"></i>
                 <input type="text" name="username" placeholder="用户名">
               </div>
             </div>
             <div class="field">
               <div class="ui left icon input">
                 <i class="lock icon"></i>
                 <input type="password" name="password" placeholder="密码">
               </div>
             </div>
             <!--<button class="ui fluid large teal submit button" onclick="login()">登   录</button>-->
             <input type="button" value="登录" onclick="login()"/>

           </div>

           <div class="ui error mini message"></div>
           <!--<div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>-->

         </form>

       </div>
     </div>
   </div>
 </div>

<script>

  function login(){

    console.log("进来了!");

    var username = $(" input[ name='username' ] ").val();
    var password = $(" input[ name='password' ] ").val();

    console.log(username);
    console.log(password);

    $.ajax({
      url:"admin/login",
      data:{"adminName":username,"adminPassword":password},
      type:"post",
      dataType:"json",
      success:function(data){
        if(data.status == 200){
          console.log("登录成功!");
          window.location = "index.html";
        }else{
          alert("登录失败!");
        }
      }
    });
  }

</script>

</body>
</html>